<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#061948">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#061948">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#061948">
    <title>Lazer Dekor</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="images/fav-icon/icon.png">
    <!-- Main style sheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <!-- responsive style sheet -->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Fix Internet Explorer ______________________________________-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="vendor/html5shiv.js"></script>
    <script src="vendor/respond.js"></script>
    <![endif]-->
</head>

<body>
<div class="main-page-wrapper">

    <!-- ===================================================
        Loading Transition
    ==================================================== -->
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>



    <!--
    =============================================
        Theme Header One
    ==============================================
    -->
    <header class="header-one">
        <div class="top-header">
            <div class="container clearfix">
                <div class="logo float-left"><a href="index.html"><img src="/images/logo/logo.png" alt=""></a></div>
                <div class="address-wrapper float-right">
                    <ul>
                        <li class="address">
                            <i class="icon flaticon-placeholder"></i>
                            <h6>Ünvan:</h6>
                            <p>Bakı şəhəri, Səbail rayonu, Bayıl.</p>
                        </li>
                        <li class="address">
                            <i class="icon flaticon-multimedia"></i>
                            <h6>Elektron-poçt:</h6>
                            <p>lazerdekor@gmail.com</p>
                        </li>
                        <li class="quotes"><a href="#">Qeydiyyat</a></li>
                    </ul>
                </div> <!-- /.address-wrapper -->
            </div> <!-- /.container -->
        </div> <!-- /.top-header -->

        <div class="theme-menu-wrapper">
            <div class="container">
                <div class="bg-wrapper clearfix">
                    <!-- ============== Menu Warpper ================ -->
                    <div class="menu-wrapper float-left">
                        <nav id="mega-menu-holder" class="clearfix">
                            <ul class="clearfix">
                                <li><a href="/shopping/index">Ana səhifə</a>

                                <li class="active"><a href="#">Haqqımızda</a>

                                </li>
                                <li><a href="#">Məhsullarımız</a>
                                    <ul class="dropdown">
                                        <li><a href="/shopping/project">Məhsul siyahısı</a></li>
                                        <!-- <li><a href="project-details.html">Məhsullar haqqında</a></li> -->
                                    </ul>
                                </li>
                                <li><a href="/shopping/bloggrid">Kampaniyalarımız</a>
                                </li>
                                <li><a href="/shopping/contact">Əlaqə</a></li>
                            </ul>
                        </nav> <!-- /#mega-menu-holder -->
                    </div> <!-- /.menu-wrapper -->

                    <div class="right-widget float-right">
                        <ul>
                            <li class="social-icon">
                                <ul>
                                    <li><a href="https://www.facebook.com/Lazer-Dekor-103759754916257"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/lazer_dekor/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                                </ul>
                            </li>
                            <li class="cart-icon">
                                <a href="#"><i class="flaticon-tool"></i> <span>2</span></a>
                            </li>
                            <li class="search-option">
                                <div class="dropdown">
                                    <button type="button" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    <form action="#" class="dropdown-menu">
                                        <input type="text" Placeholder="Enter Your Search">
                                        <button><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- /.right-widget -->
                </div> <!-- /.bg-wrapper -->
            </div> <!-- /.container -->
        </div> <!-- /.theme-menu-wrapper -->
    </header> <!-- /.header-one -->


    <!--
    =============================================
        Theme Inner Banner
    ==============================================
    -->
    <div class="theme-inner-banner section-spacing">
        <div class="overlay">
            <div class="container">
                <h2>Haqqımızda</h2>
            </div> <!-- /.container -->
        </div> <!-- /.overlay -->
    </div> <!-- /.theme-inner-banner -->


    <!--
    =============================================
        CallOut Banner
    ==============================================
    -->
    <div class="callout-banner no-bg">
        <div class="container clearfix">
            <h3 th:text="${parametr.getTitle()}" />
            <p th:text="${parametr.getText()}"   />
            <a href="contact.html" class="theme-button-one">Əlaqə</a>
        </div>
    </div> <!-- /.callout-banner -->



    <!--
    =============================================
        About Company Stye Two
    ==============================================
    -->
    <div class="about-compnay-two no-bg section-spacing">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-12 text order-lg-last">
                        <div class="theme-title-one">
                            <h2>İnkişaf yolumuz</h2>
                        </div> <!-- /.theme-title-one -->
                        <p>2019-ci ildə qurulmuş Lazer Dekor şirkəti, yarandığı gündən bu günüdək fərqli üslubu, yüksək keyfiyyəti, erqonomik dizaynı hər bir dekorasiyasında cəmləmişdir. Hazırlanan hər bir məhsula xüsusi incəliklə yanaşıldığından, müştərilərin müsbət rəyini qazanmağını bacarmışdır. </p>
                        <p>Həmçinin şirkətimiz fərdi müştərilərlə yanaşı, şirkətlərlə əməkdaşlıqda uğur qazanmağı bacarmışdır.Hazırdan 10-dan çox şirkətlə korporativ əməkdaşlığımız davam edir. </p>
                    </div> <!-- /.col- -->
                    <div class="col-lg-6 col-12 order-lg-first">
                        <img src="/images/home/550x410.png" alt="" class="left-img">
                    </div>
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.overlay -->
    </div> <!-- /.about-compnay-two -->


    <!--
    =====================================================
        Why We Best
    =====================================================
    -->
    <div class="why-we-best">
        <div class="overlay">
            <div class="container">
                <div class="theme-title-one">
                    <h2>Hər zaman daha yaxşısı</h2>
                    <p>Lazer Dekor fərqli zövqlərin birləşdiyi məkan!</p>
                </div> <!-- /.theme-title-one -->

                <div class="wrapper row no-gutters">
                    <div class="col-lg-6 col-12 order-lg-last"><div class="img-box"></div></div>
                    <div class="col-lg-6 col-12 order-lg-first">
                        <ul class="best-list-item">
                            <li>
                                <i class="icon flaticon-puzzle"></i>
                                <h5><a href="#">Fərqli üslub</a></h5>
                                <p> Dizaynların hazırlanması zamanı hər bir məhsula özünəməxsus tərzdə dizayn tərtib olunur.</p>
                            </li>
                            <li>
                                <i class="icon flaticon-presentation"></i>
                                <h5><a href="#">Yüksək Xidmət</a></h5>
                                <p>Sifarişlərin qəbul edilməsi, hazırlanması, çatdırılması xüsusi diqqətlə həyata keçirilir.</p>
                            </li>
                            <li>
                                <i class="icon flaticon-people"></i>
                                <h5><a href="#">Uğurlu Əməkdaşlıq</a></h5>
                                <p>Xidmət növündən aslı olmayaraq, hər bir müştərimizə xüsusi qayğı ilə yanaşırıq.</p>
                            </li>
                        </ul>
                    </div> <!-- /.col- -->
                </div> <!-- /.wrapper -->
            </div> <!-- /.container -->
        </div> <!-- /.overlay -->
    </div> <!-- /.why-we-best -->


    <!--
    =====================================================
        Theme Counter
    =====================================================
    -->
    <div class="theme-counter-two section-spacing">
        <div class="container">
            <div class="clearfix">
                <div class="cunter-wrapper">
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <div class="single-counter-box">
                                <div class="number"><span class="timer" data-from="0" data-to="3" data-speed="1200" data-refresh-interval="5">0</span>+</div>
                                <p>Yaranma tarixi</p>
                            </div> <!-- /.single-counter-box -->
                        </div>  <!-- /.col- -->
                        <div class="col-md-3 col-6">
                            <div class="single-counter-box">
                                <div class="number"><span class="timer" data-from="0" data-to="100" data-speed="1200" data-refresh-interval="5">100</span>%</div>
                                <p>Müştəri məmnuniyyəti</p>
                            </div> <!-- /.single-counter-box -->
                        </div>  <!-- /.col- -->
                        <div class="col-md-3 col-6">
                            <div class="single-counter-box">
                                <div class="number"><span class="timer" data-from="0" data-to="23" data-speed="1200" data-refresh-interval="5">0</span></div>
                                <p>Əməkdaşlıq</p>
                            </div> <!-- /.single-counter-box -->
                        </div>  <!-- /.col- -->
                        <div class="col-md-3 col-6">
                            <div class="single-counter-box">
                                <div class="number"><span class="timer" data-from="0" data-to="10000" data-speed="1200" data-refresh-interval="5">0</span>+</div>
                                <p>Müştəri Sayı</p>
                            </div> <!-- /.single-counter-box -->
                        </div>  <!-- /.col- -->
                    </div> <!-- /.row -->
                </div> <!-- /.cunter-wrapper -->
            </div> <!-- /.clearfix -->
        </div> <!-- /.container -->
    </div> <!-- /.theme-counter -->


    <!--
    =============================================
        Core Values
    ==============================================
    -->




    <!--
    =====================================================
        Partner Slider
    =====================================================
    -->
    <div class="partner-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-12">
                    <h6>Əməkdaşlıq etdiyimiz <br>Şirkətlər</h6>
                </div>
                <div class="col-md-9 col-sm-8 col-12">
                    <div class="partner-slider">
                        <div class="item"><img src="/images/logo/p-1.png" alt=""></div>
                        <div class="item"><img src="/images/logo/p-2.png" alt=""></div>
                        <div class="item"><img src="/images/logo/p-3.png" alt=""></div>
                        <div class="item"><img src="/images/logo/p-4.png" alt=""></div>
                        <div class="item"><img src="/images/logo/p-5.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /.partner-section -->


    <!--
    =====================================================
        Footer
    =====================================================
    -->
    <footer class="theme-footer-one">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-sm-6 about-widget">
                        <h6 class="title">Şirkətimiz Haqqında</h6>
                        <p>Lazer Dekor şirkəti günümüzün zövq tələblərinə cavab verən, özünəməxsus fərqli üslubda dekorativ məhsullar hazırlayan qabaqcıl şirkətdir. </p>
                        <div class="queries"><i class="flaticon-phone-call"></i> Ətraflı Məlumat : <a href="#">(+994)55 316 41 92</a></div>
                    </div> <!-- /.about-widget -->
                    <div class="col-xl-4 col-lg-3 col-sm-6 footer-recent-post">
                        <h6 class="title">Trend Məhsullarımız</h6>
                        <ul>
                            <li class="clearfix">
                                <img src="/images/blog/1.jpg" alt="" class="float-left">
                                <div class="post float-left">
                                    <a href="blog-details.html">Maşın Asılqaları</a>
                                    <div class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> March 1, 2022</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="/images/blog/2.jpg" alt="" class="float-left">
                                <div class="post float-left">
                                    <a href="blog-details.html">Şəxsi Portret.</a>
                                    <div class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> Mar 1, 2022</div>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- /.footer-recent-post -->
                    <div class="col-xl-4 col-lg-3 col-sm-6 footer-recent-post">
                        <h6 class="title">Yeni Məhsullarımız</h6>
                        <ul>
                            <li class="clearfix">
                                <img src="/images/blog/1.jpg" alt="" class="float-left">
                                <div class="post float-left">
                                    <a href="blog-details.html">Şirkət Qutuları</a>
                                    <div class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> March 1, 2022</div>
                                </div>
                            </li>
                            <li class="clearfix">
                                <img src="/images/blog/2.jpg" alt="" class="float-left">
                                <div class="post float-left">
                                    <a href="blog-details.html">Məktəbli ağacı.</a>
                                    <div class="date"><i class="fa fa-calendar-o" aria-hidden="true"></i> March 1, 2022</div>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- /.footer-recent-post -->

                </div> <!-- /.top-footer -->
            </div>
        </div>

    </footer> <!-- /.theme-footer -->




    <!-- Scroll Top Button -->
    <button class="scroll-top tran3s">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
    </button>



    <!-- Optional JavaScript _____________________________  -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery -->
    <script src="/vendor/jquery.2.2.3.min.js"></script>
    <!-- Popper js -->
    <script src="/vendor/popper.js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Camera Slider -->
    <script src='/vendor/Camera-master/scripts/jquery.mobile.customized.min.js'></script>
    <script src='/vendor/Camera-master/scripts/jquery.easing.1.3.js'></script>
    <script src='/vendor/Camera-master/scripts/camera.min.js'></script>
    <!-- menu  -->
    <script src="/vendor/menu/src/js/jquery.slimmenu.js"></script>
    <!-- WOW js -->
    <script src="/vendor/WOW-master/dist/wow.min.js"></script>
    <!-- owl.carousel -->
    <script src="/vendor/owl-carousel/owl.carousel.min.js"></script>
    <!-- js count to -->
    <script src="/vendor/jquery.appear.js"></script>
    <script src="/vendor/jquery.countTo.js"></script>
    <!-- Fancybox -->
    <script src="/vendor/fancybox/dist/jquery.fancybox.min.js"></script>

    <!-- Theme js -->
    <script src="/js/theme.js"></script>
</div> <!-- /.main-page-wrapper -->
</body>
</html>