<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>It is home page!</h1>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>price</td>
        <td>Description</td>
        <td>Detail</td>


    </tr>
    </thead>
    <tbody>
    <tr th:each="pd:${produstDetails}">
        <td th:text="${pd.id}"></td>
        <td th:text="${pd.test}"></td>
<!--        <td th:text="${pd.ProdustEntity.name}"></td>-->
<!--        <td th:text="${pd.ProdustEntity.price}"></td>-->
<!--        <td th:text="${pd.ProdustEntity.description}"></td>-->


    </tr>
    </tbody>
</table>
</body>
</html>